.tab {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  /* height: 50px; */
}
.tab::after {
  position: absolute;
  bottom: 0;
  left: 0;
  clear: both;
  content: "";
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.tab ul:after {
  clear: both;
  content: "";
  display: block;
}
.tab li {
  float: left;
  min-width: 80px;
  text-align: center;
  /* background: rgb(249 249 249); */
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid transparent;
  /* border-bottom: 0; */
  margin-right: 10px;
}
.tab li.on {
  border-bottom: 2px solid rgb(199, 199, 199);
}
.tab li a {
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  color: rgb(141, 138, 138);
  font-weight: 600;
  cursor: pointer;
  background:none;
}