
.tab_cnt {
  padding-bottom: 100px;
}
.tab_cnt li {
  position: relative;
  margin-top: 10px;
  background: rgb(249 249 249);
  padding: 10px 123px 10px 10px;
  border-radius: 3px;
}
.tab_cnt .txt {
  color: rgb(141, 138, 138);
  font-size: 15px;
  margin-right: 20px;
}
.tab_cnt li.complete {/*display:none;*/opacity:0.5;}
.tab_cnt li.complete .txt {
  font-style: italic;
  text-decoration: line-through;
}
.bt_clear,
.tab_cnt .bt_del,
.tab_cnt .bt_complete {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.bt_clear{
  position:absolute;right:20px;top:20px;
  background: rgb(186, 187, 186);
  border: 1px solid rgb(146, 146, 146);
}
.btn-box{display:inline-block;vertical-align:middle;}
.tab_cnt .bt_complete {
  background: rgb(143 241 187);
  border: 1px solid rgb(130 211 167);
}
.tab_cnt .bt_del {
  background: rgb(252, 184, 184);
  border: 1px solid rgb(217 167 167);
}
.time {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 14px;
  color: rgb(141, 138, 138);
}

@media (max-width: 720px) { 
  .time{display:none;} 
  .btn-box{
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}